
.box-height{height: 108px !important; background-color:#fff !important; }
.listaVeiculo {font-size: 1.0em !important; }
.listaVeiculo li{list-style: none !important;background-color:#fff !important;}
.tblistaveiculo th{font-size: 1.0em !important;}
.cardBorder { border: 0px solid #c2cfd6 !important;}
.veiculosFont{font-size: 1.2em !important;}
.buttonBorda{border:2px solid #c2cfd6!important;}
